// ------------------------------------------------------------
//	Header
// ------------------------------------------------------------

.header {
	width: 100%;
	position: relative;
	z-index: 900;
	margin-block: 7.5rem 3.7rem;

	@include breakpoint-down(mobile) {
		margin-block: 2.9rem;
	}

	// .header__logo
	&__logo {
		a {
			display: block;
			font-size: 0;
			line-height: 0;
			position: relative;
			width: 17.9rem;
			height: 4.5rem;
			transition: opacity var(--t-duration);

			@include breakpoint-down(mobile) {
				width: 14.3rem;
				height: 3.6rem;
			}

			@media (hover) and (pointer: fine) {
				&:hover {
					opacity: 0.75;
				}
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: inherit;
			height: inherit;
			object-fit: contain;
		}
	}
}
