// ==========================================================================
// Mixins
// ==========================================================================

//
// Tracking
// ==========================================================================

@function tracking($target) {
	@return ($target / 1000) * 1em;
}

@mixin tracking($target) {
	letter-spacing: tracking($target);
}

//
// Position Absolute
// ==========================================================================

@mixin pos-absolute {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

//
// Position Center
// ==========================================================================

@mixin pos-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

//
// No Text
// ==========================================================================

@mixin no-text {
	font-size: 0;
	line-height: 0;
	text-indent: -400rem;
}

//
// Clearfix
// ==========================================================================

@mixin clearfix {
	content: '';
	line-height: 0;
	display: table;
	clear: both;
}

//
// Breakpoint mixins
// ==========================================================================

@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
	$min: breakpoint-min($name, $breakpoints);

	@media (min-width: $min) {
		@content;
	}
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
	$max: breakpoint-max($name, $breakpoints);

	@media (max-width: $max) {
		@content;
	}
}

@mixin breakpoint-between($lower, $upper, $breakpoints: $breakpoints) {
	$min: breakpoint-min($lower, $breakpoints);
	$max: breakpoint-max($upper, $breakpoints);

	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

//
// Font Sizes
// ==========================================================================

@mixin the-font-size($size) {
	@if $size == xs {
		font-size: 1.4rem;
		line-height: 1.33; // 24
	}

	@if $size == s {
		font-size: clamp(1.4rem, 3vw, 1.6rem);
		line-height: 1.5; // 24
	}

	@if $size == m {
		font-size: 1.8rem;
		line-height: 1.33; // 24
	}
}
