/* ------------------------------------------------------------ *\
	Reset Logos
\* ------------------------------------------------------------ */

[class^='logo'] {
	@include no-text;

	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;

	& > img {
		display: block;
		width: 100%;
	}
}
