/* ------------------------------------------------------------ *\
	Reset Icons
\* ------------------------------------------------------------ */

[class^='ico-'] {
	@include no-text;

	display: inline-block;
	vertical-align: top;
	position: relative;
}
