<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: Bloomingdale's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/bloomingdales"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/bloomingdales-icon.jpg"
		  alt="Bloomingdale's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Bloomingdale's</h3>

		<p>
		  Up to 15% Off Code<br />
		  4% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Neiman Marcus -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/neimanmarcus"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/4B9vrzPn_400x400.jpeg"
		  alt="Neiman Marcus"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Neiman Marcus</h3>

		<p>
		  20% Off Code <br />
		  3.5% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Saks Fifth Avenue -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/saksfifthavenue"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Saks_Fifth_Avenue_idwShj5Fy5_0.jpeg"
		  alt="Saks Fifth Avenue"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Saks Fifth Avenue</h3>

		<p>
		  10% Off Code <br />
		  3% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Farfetch -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/farfetch"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/farfetch.png"
		  alt="Farfetch"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Farfetch</h3>

		<p>
		  40% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Cle De Peau Beaute -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/cledepeaubeaute"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/cledepeaubeaute-icon.png"
		  alt="Cle De Peau Beaute"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Cle De Peau Beaute</h3>

		<p>
		  15% Off Code<br />
		  5% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Armani -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/armani"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/armani_icon.png"
		  alt="Armani"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Armani</h3>

		<p>
		  15% Off Code<br />
		  4.8% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Charlotte Tilbury -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/charlottetilbury"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/charlottetilbury.png"
		  alt="Charlotte Tilbury"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Charlotte Tilbury</h3>

		<p>
		  15% Off Code<br />
		  1% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Jomashop -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/jomashop"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/jomashop-icon.png"
		  alt="Jomashop"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Jomashop</h3>

		<p>
		  5% off Code <br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: What Goes Around Comes Around -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/whatgoesaroundnyc"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/whatgoesaroundnyc.png"
		  alt="What Goes Around Comes Around"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>What Goes Around Comes Around</h3>

		<p>
		  10% Off Code <br />
		  1.6% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Jimmy Choo -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/us.jimmychoo"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/jimmychoo_icon_new_updated.png"
		  alt="Jimmy Choo"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Jimmy Choo</h3>

		<p>
		  2.4% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Yves Saint Laurent Beauty -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/yslbeautyus"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/yslbeautyus-icon.png"
		  alt="Yves Saint Laurent Beauty"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Yves Saint Laurent Beauty</h3>

		<p>
		  25% Off Code<br />
		  2.4% Off Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>
  <!-- /.section__slider -->