<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-03">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li class="current">
					<a href="./partials/categories/stocking-stuffers/page-less-than-10-01.html">
						<span>Less than $10</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-25-01.html">
						<span>Less than $25</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-100-01.html">
						<span>Less than $100</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-500-01.html">
						<span>Less than $500</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-1000-01.html">
						<span>Less than $1,000</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-max-01.html">
						<span>$1,000+</span>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2F1250198348%3Fref%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26ref_%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26social_share%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/917GeaQRhCL.jpg" alt="" />
					</a>

					<span>-38%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2F1250198348%3Fref%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26ref_%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26social_share%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">The New York Times Greatest Hits of Monday Crossword Puzzles</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$6.99</small>

								<strong>$4.34</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 23 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2F1250198348%3Fref%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26ref_%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26social_share%3Dcm_sw_r_cp_ud_dp_GKTGX5AJCDQ26CWJN6Z1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07YP13BRB%3Fref%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26ref_%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26social_share%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=8728asdg" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61XpXpHD+xL._SL1450_.jpg" alt="" />
					</a>

					<span>-14%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07YP13BRB%3Fref%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26ref_%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26social_share%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=8728asdg" target="_blank">Bachan’s Japanese Barbecue Sauce</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$9.29</small>

								<strong>$7.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 9 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07YP13BRB%3Fref%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26ref_%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26social_share%3Dcm_sw_r_cp_ud_dp_4W0WKFJ0NJFDD9HPY5DP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=8728asdg" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/academy_icon.png" alt="" />

								<p>Best Price from <br /> Academy Sports + Outdoors</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>0.5% Cash Back<br /> 20% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB076FGVCRH%3Fref%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26ref_%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26social_share%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61XgpmES-WL._AC_SL1200_.jpg" alt="" />
					</a>

					<span>-13%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB076FGVCRH%3Fref%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26ref_%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26social_share%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">NeeDoh Groovy Glob stress ball</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$3.44</small>

								<strong>$2.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 7 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB076FGVCRH%3Fref%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26ref_%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26social_share%3Dcm_sw_r_cp_ud_dp_MN4W07V9SFK4P1ZGNZYP%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08DX4JCKQ%3Fref%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26ref_%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26social_share%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=2sahf" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81CqSB1+2FL._SL1500_.jpg" alt="" />
					</a>

					<span>-5%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08DX4JCKQ%3Fref%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26ref_%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26social_share%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=2sahf" target="_blank">Wonderful Pistachios No Shells</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$7.48</small>

								<strong>$7.11</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 4 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08DX4JCKQ%3Fref%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26ref_%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26social_share%3Dcm_sw_r_cp_ud_dp_88N9AFRR4F4AV6J51PJ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=2sahf" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB081381JD4%3Fref%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26ref_%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26social_share%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=28ahs" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71WJK8dqHvL.jpg" alt="" />
					</a>

					<span>-38%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB081381JD4%3Fref%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26ref_%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26social_share%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=28ahs" target="_blank">Multi-Tool Pen Set </a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$15.99</small>

								<strong>$9.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 6 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB081381JD4%3Fref%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26ref_%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26social_share%3Dcm_sw_r_cp_ud_dp_W4APCQGPV95JD8HA0FQH%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=28ahs" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BQ782XNW%3Fref%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26ref_%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26social_share%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71oqTL-o3EL.jpg" alt="" />
					</a>

					<span>-57%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BQ782XNW%3Fref%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26ref_%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26social_share%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Meat Thermometer Digital</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$20.99</small>

								<strong>$8.98</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 9 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BQ782XNW%3Fref%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26ref_%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26social_share%3Dcm_sw_r_cp_ud_dp_TC5EFE6M9M6MT8SYR26P%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/stocking-stuffers/page-less-than-10-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div><!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
