<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-03">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-10-01.html">
						<span>Less than $10</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-25-01.html">
						<span>Less than $25</span>
					</a>
				</li>

				<li class="current">
					<a href="./partials/categories/stocking-stuffers/page-less-than-100-01.html">
						<span>Less than $100</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-500-01.html">
						<span>Less than $500</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-1000-01.html">
						<span>Less than $1,000</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-max-01.html">
						<span>$1,000+</span>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08GWPB1H7%3Fref%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26ref_%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26social_share%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://d9.cnnx.io/image/obj/14414147738;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez57ytXtpJ2CRkZbmC5GnGkOJNrM-LBVk=" alt="" />
					</a>

					<span>-23%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08GWPB1H7%3Fref%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26ref_%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26social_share%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Family Pickleball Paddles</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$64.99</small>

								<strong>$50</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 6 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08GWPB1H7%3Fref%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26ref_%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26social_share%3Dcm_sw_r_cp_ud_dp_2JCKVQGGAWA5N8XCB2XD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB075F394ZS%3Fref%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26ref_%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26social_share%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://d8.cnnx.io/image/obj/8298129667;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez57ydEN1I2jJxarmCC3jDmL3txN3I3sI=" alt="" />
					</a>

					<span>-13%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB075F394ZS%3Fref%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26ref_%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26social_share%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">La Jolie Muse Sandalwood Candles</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$36</small>

								<strong>$31.47</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 6 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB075F394ZS%3Fref%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26ref_%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26social_share%3Dcm_sw_r_cp_ud_dp_1H850T78TVZK6WJ9WEKQ%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BWX39R5W%3Fref%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26ref_%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26social_share%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61mSc4ZyYCL.jpg" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BWX39R5W%3Fref%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26ref_%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26social_share%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Blink Mini 2</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$39.99</small>

								<strong>$19.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 6 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BWX39R5W%3Fref%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26ref_%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26social_share%3Dcm_sw_r_cp_ud_dp_S9SH94M2CGP5RRHGSMF3%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DCJ9N5XR%3Fref%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26ref_%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26social_share%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81hEl+X18+L._AC_SL1500_.jpg" alt="" />
					</a>

					<!--span>0%</span-->
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DCJ9N5XR%3Fref%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26ref_%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26social_share%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">UE Miniroll</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<!--small>$79.99</small-->

								<strong>$79.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 9 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DCJ9N5XR%3Fref%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26ref_%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26social_share%3Dcm_sw_r_cp_ud_dp_D3GSN939KCB0SRZS801J%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/dell.com_icon.png" alt="" />

								<p>Best Price from <br /> Dell</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 6% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09B8V1LZ3%3Fref%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26ref_%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26social_share%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61BBwp9hYjL.jpg" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09B8V1LZ3%3Fref%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26ref_%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26social_share%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Echo Dot (fifth-gen)</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$49.99</small>

								<strong>$24.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 5 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09B8V1LZ3%3Fref%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26ref_%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26social_share%3Dcm_sw_r_cp_ud_dp_M0X0VQZ8GNVEXNN128VD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CM3DCWQY%3Fref%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26ref_%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26social_share%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61K7U2N2Y1L._AC_SL1500_.jpg" alt="" />
					</a>

					<span>-31%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CM3DCWQY%3Fref%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26ref_%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26social_share%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">ESR Qi2 Magnetic Wireless Car Charger</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$35.99</small>

								<strong>$24.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 5 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CM3DCWQY%3Fref%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26ref_%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26social_share%3Dcm_sw_r_cp_ud_dp_VVX5J7T8D0H9M8F4AEBM%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/stocking-stuffers/page-less-than-100-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div><!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
