<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-03">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-10-01.html">
						<span>Less than $10</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-25-01.html">
						<span>Less than $25</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-100-01.html">
						<span>Less than $100</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-500-01.html">
						<span>Less than $500</span>
					</a>
				</li>

				<li class="current">
					<a href="./partials/categories/stocking-stuffers/page-less-than-1000-01.html">
						<span>Less than $1,000</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/stocking-stuffers/page-less-than-max-01.html">
						<span>$1,000+</span>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		
		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C63GXC5L%3Fref%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26ref_%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26social_share%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61IqkfGCw5L._AC_SL1500_.jpg&productName=SAMSUNG%20Galaxy%20Z%20Flip5%20AI%20Phone%2C%20256GB%20Unlocked%20Android%20Smartphone%2C%20Compact%2C%20Foldable%20Design%2C%20One-Hand%20Control%2C%20Best%20Selfies%2C%20Full%20Cover%20Screen%2C%20Hands-Free%20Use%2C%20US%20Version%2C%202023%2C%20Lavender&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://images.barcodelookup.com/78716/787168890-1.jpg" alt="" />
					</a>

					<span>-41%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C63GXC5L%3Fref%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26ref_%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26social_share%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61IqkfGCw5L._AC_SL1500_.jpg&productName=SAMSUNG%20Galaxy%20Z%20Flip5%20AI%20Phone%2C%20256GB%20Unlocked%20Android%20Smartphone%2C%20Compact%2C%20Foldable%20Design%2C%20One-Hand%20Control%2C%20Best%20Selfies%2C%20Full%20Cover%20Screen%2C%20Hands-Free%20Use%2C%20US%20Version%2C%202023%2C%20Lavender&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">Galaxy Z Flip5 AI Phone</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$799.95</small>

								<strong>$469.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C63GXC5L%3Fref%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26ref_%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26social_share%3Dcm_sw_r_cp_ud_dp_RKT8YW2V7GX07F2VVNMD%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61IqkfGCw5L._AC_SL1500_.jpg&productName=SAMSUNG%20Galaxy%20Z%20Flip5%20AI%20Phone%2C%20256GB%20Unlocked%20Android%20Smartphone%2C%20Compact%2C%20Foldable%20Design%2C%20One-Hand%20Control%2C%20Best%20Selfies%2C%20Full%20Cover%20Screen%2C%20Hands-Free%20Use%2C%20US%20Version%2C%202023%2C%20Lavender&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/louis-vuitton-monogram-canvas-zippy-organizer/e6450eb4d8afe085682db69c4c05d1cc86d331a8" target="_blank">
						<img src="https://www.whatgoesaroundnyc.com/dw/image/v2/BGND_PRD/on/demandware.static/-/Sites-wgaca-master-catalog/default/dw5f3b7414//images//original/a/c/3/QJA0FK1Y0BH30_1.jpg?sw=550&sh=825" alt="" />
					</a>

					<span>-75%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/louis-vuitton-monogram-canvas-zippy-organizer/e6450eb4d8afe085682db69c4c05d1cc86d331a8" target="_blank">Louis Vuitton Monogram Canvas Zippy Organizer</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$1,627</small>

								<strong>$399.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 29 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/louis-vuitton-monogram-canvas-zippy-organizer/e6450eb4d8afe085682db69c4c05d1cc86d331a8" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB091TM594V%3Fref%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26ref_%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26social_share%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51UT9f62+HS._AC_SX466_.jpg" alt="" />
					</a>

					<span>-39%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB091TM594V%3Fref%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26ref_%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26social_share%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">Bang & Olufsen Beoplay H95 Over-Ear Headphones</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$1,481.85</small>

								<strong>$901.22</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB091TM594V%3Fref%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26ref_%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26social_share%3Dcm_sw_r_cp_ud_dp_YYWT1NHSH9CM19C43R9D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.dyson.com%2Fair-treatment%2Fair-purifiers%2Fbig-quiet-formaldehyde%2Fnickel-prussian-blue-bp03%3FranMID%3D36310%26ranEAID%3DSyrN4SGJMyU%26ranSiteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26siteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26utm_source%3DHearst%2BMagazines%26utm_medium%3Daffiliate%26utm_campaign%3Dus_en__na__na__na__purchase%26utm_term%3D%26utm_content%3Drakuten_1&ads=true&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://dyson-h.assetsadobe2.com/is/image/content/dam/dyson/images/products/primary/410636-01.png?wid=800" alt="" />
					</a>

					<span>-48%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.dyson.com%2Fair-treatment%2Fair-purifiers%2Fbig-quiet-formaldehyde%2Fnickel-prussian-blue-bp03%3FranMID%3D36310%26ranEAID%3DSyrN4SGJMyU%26ranSiteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26siteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26utm_source%3DHearst%2BMagazines%26utm_medium%3Daffiliate%26utm_campaign%3Dus_en__na__na__na__purchase%26utm_term%3D%26utm_content%3Drakuten_1&ads=true&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">Dyson Purifier Big and Quiet Formaldehyde</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$999.99</small>

								<strong>$519</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 8 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.dyson.com%2Fair-treatment%2Fair-purifiers%2Fbig-quiet-formaldehyde%2Fnickel-prussian-blue-bp03%3FranMID%3D36310%26ranEAID%3DSyrN4SGJMyU%26ranSiteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26siteID%3DSyrN4SGJMyU-Lg8XuKCPPj_7rRZ_WRLFAw%26utm_source%3DHearst%2BMagazines%26utm_medium%3Daffiliate%26utm_campaign%3Dus_en__na__na__na__purchase%26utm_term%3D%26utm_content%3Drakuten_1&ads=true&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/international-expandable-4-wheeled-carry-on/65f43eef77ff75c77e616c55009bafb4b7c8701f" target="_blank">
						<img src="https://tumi.scene7.com/is/image/Tumi/1396831596_main" alt="" />
					</a>

					<span>-61%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/international-expandable-4-wheeled-carry-on/65f43eef77ff75c77e616c55009bafb4b7c8701f" target="_blank">TUMI International Expandable 4 Wheeled Carry-On</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$1,394.49</small>

								<strong>$550</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 24 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/international-expandable-4-wheeled-carry-on/65f43eef77ff75c77e616c55009bafb4b7c8701f" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/2024-design-series-evergreen-tilt-head-stand-mixer/4db3da3a3d77cad94955c14da97c659969023448" target="_blank">
						<img src="https://kitchenaid-h.assetsadobe.com/is/image/content/dam/global/kitchenaid/countertop-appliance/stand-mixer/images/hero-KSM180WSEG.tif?fit=constrain,1&wid=880&hei=880&fmt=jpg" alt="" />
					</a>

					<span>29%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/2024-design-series-evergreen-tilt-head-stand-mixer/4db3da3a3d77cad94955c14da97c659969023448" target="_blank">KitchenAid Artisan Design Series Stand Mixer</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$699.99</small>

								<strong>$900</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/2024-design-series-evergreen-tilt-head-stand-mixer/4db3da3a3d77cad94955c14da97c659969023448" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/custompic/kitchenaid_hd.png" alt="" />

								<p>Best Price from <br /> KitchenAid</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>3.2 % Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

	</div><!-- /.grid-flex__inner -->

	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/stocking-stuffers/page-less-than-1000-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div> -->
	<!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
