<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-03">
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->
		<div class="grid-flex__col js__item">
			<article class="article-product  article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/the-imagineering-company-millennials-vs-boomers/5929484e27df1945ebccad714135c32cc76514b8" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61EpHcapnkL._AC_SX679_.jpg" alt="" />
					</a>

					<span>-25%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/the-imagineering-company-millennials-vs-boomers/5929484e27df1945ebccad714135c32cc76514b8" target="_blank">Millennials vs Boomers</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$24</small>

								<strong>$17.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 1 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/the-imagineering-company-millennials-vs-boomers/5929484e27df1945ebccad714135c32cc76514b8" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
		
	</div><!-- /.grid-flex__inner -->

	<!--
	<div class="grid-flex__actions js__actions">
		<a href="/categories/stocking-stuffers/page-less-than-25-[PAGE].html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div>
	-->
</div><!-- /.grid-flex -->
