<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-06">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li>
					<a href="./partials/categories/gifts/page-him-01.html">
						<img src="./assets/images/temp/png/avatar-10.png" alt="" />

						<span>Him</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-her-01.html">
						<img src="./assets/images/temp/png/avatar-11.png" alt="" />

						<span>Her</span>
					</a>
				</li>

				<li class="current">
					<a href="./partials/categories/gifts/page-teens-01.html">
						<img src="./assets/images/temp/png/avatar-12.png" alt="" />

						<span>Teens</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-kids-01.html">
						<img src="./assets/images/temp/png/avatar-13.png" alt="" />

						<span>Kids</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-toddlers-01.html">
						<img src="./assets/images/temp/png/avatar-02.png" alt="" />

						<span>Toddlers</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-babies-01.html">
						<img src="./assets/images/temp/png/avatar-01.png" alt="" />

						<span>Babies</span>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		
		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY86T4K8%3Fref%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26ref_%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26social_share%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61ZxLp3LWeL._SL1500_.jpg&productName=THE%20TORTURED%20POETS%20DEPARTMENT%20%5BGhosted%20White%202%20LP%5D&salePrice=36.48&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://m.media-amazon.com/images/I/518J4TpTP4L._SX425_.jpg" alt="" />
					</a>

					<span>-59%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY86T4K8%3Fref%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26ref_%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26social_share%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61ZxLp3LWeL._SL1500_.jpg&productName=THE%20TORTURED%20POETS%20DEPARTMENT%20%5BGhosted%20White%202%20LP%5D&salePrice=36.48&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">The Tortured Poets Department, Taylor Swift, White Vinyl</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$107.92</small>

								<strong>$44.70</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 7 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY86T4K8%3Fref%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26ref_%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26social_share%3Dcm_sw_r_cp_ud_dp_5YAQEHX5GWNHW9JPH02X%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61ZxLp3LWeL._SL1500_.jpg&productName=THE%20TORTURED%20POETS%20DEPARTMENT%20%5BGhosted%20White%202%20LP%5D&salePrice=36.48&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0874W4WS5%3Fref%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26ref_%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26social_share%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F41jSnMJUPeL._AC_SL1000_.jpg&productName=Under%20Armour%20Women%27s%20Heatgear%20High%20Waisted%207%2F8%20Leggings&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://d7.cnnx.io/image/obj/14940957201;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez4bzTQKUc9zVxH7mCncQsGIMTJZ3dqq4=" alt="" />
					</a>

					<span>-27%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0874W4WS5%3Fref%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26ref_%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26social_share%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F41jSnMJUPeL._AC_SL1000_.jpg&productName=Under%20Armour%20Women%27s%20Heatgear%20High%20Waisted%207%2F8%20Leggings&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">Under Armour Leggings</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$45</small>

								<strong>$32.97</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 11 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0874W4WS5%3Fref%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26ref_%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26social_share%3Dcm_sw_r_cp_ud_dp_V0J12P1Y8H7E8YSW30P8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F41jSnMJUPeL._AC_SL1000_.jpg&productName=Under%20Armour%20Women%27s%20Heatgear%20High%20Waisted%207%2F8%20Leggings&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/cabelas_favicon.jpg" alt="" />

								<p>Best Price from <br /> Cabela's</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://matchos.price.com/apiv2/match_recommend?partner=5b960a4ade2962062eeb1f4a&url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BRR6Q2ZD%3Fref%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26ref_%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26social_share%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26starsLeft%3D1%26skipTwisterOG%3D1&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61oar3sdHAL._AC_SL1500_.jpg&productName=EACHY%20Travel%20Makeup%20Bag%2CLarge%20Capacity%20Cosmetic%20Bags%20for%20Women%2CWaterproof%20Portable%20Pouch%20Open%20Flat%20Toiletry%20Bag%20Make%20up%20Organizer%20with%20Divider%20and%20Handle&salePrice=23.99&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61eLxA1uvyL.jpg" alt="" />
					</a>

					<span>-25%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://matchos.price.com/apiv2/match_recommend?partner=5b960a4ade2962062eeb1f4a&url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BRR6Q2ZD%3Fref%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26ref_%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26social_share%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26starsLeft%3D1%26skipTwisterOG%3D1&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61oar3sdHAL._AC_SL1500_.jpg&productName=EACHY%20Travel%20Makeup%20Bag%2CLarge%20Capacity%20Cosmetic%20Bags%20for%20Women%2CWaterproof%20Portable%20Pouch%20Open%20Flat%20Toiletry%20Bag%20Make%20up%20Organizer%20with%20Divider%20and%20Handle&salePrice=23.99&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">EACHY Travel Makeup Bag</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$23.99</small>

								<strong>$17.97</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 4 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://matchos.price.com/apiv2/match_recommend?partner=5b960a4ade2962062eeb1f4a&url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BRR6Q2ZD%3Fref%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26ref_%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26social_share%3Dcm_sw_r_cp_ud_dp_DXPM91TSEJM8PCQMXZKE%26starsLeft%3D1%26skipTwisterOG%3D1&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61oar3sdHAL._AC_SL1500_.jpg&productName=EACHY%20Travel%20Makeup%20Bag%2CLarge%20Capacity%20Cosmetic%20Bags%20for%20Women%2CWaterproof%20Portable%20Pouch%20Open%20Flat%20Toiletry%20Bag%20Make%20up%20Organizer%20with%20Divider%20and%20Handle&salePrice=23.99&source=extension&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGY63Z2H%3Fref%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26ref_%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26social_share%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61vR3ovb2UL._SL1500_.jpg&productName=PlayStation%205%20Pro%20Console&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61vR3ovb2UL._SL1500_.jpg" alt="" />
					</a>

					<!--span>0%</span-->
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGY63Z2H%3Fref%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26ref_%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26social_share%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61vR3ovb2UL._SL1500_.jpg&productName=PlayStation%205%20Pro%20Console&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">PlayStation 5 Pro</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<!--small>$699.0</small-->

								<strong>$699.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 16 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGY63Z2H%3Fref%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26ref_%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26social_share%3Dcm_sw_r_cp_ud_dp_RXEZ5C7EXK50E9V5TAQ7%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F61vR3ovb2UL._SL1500_.jpg&productName=PlayStation%205%20Pro%20Console&salePrice=null&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/gamestop-icon.jpeg" alt="" />

								<p>Best Price from <br /> Gamestop</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 3.5% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

	</div><!-- /.grid-flex__inner -->

	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/gifts/page-teens-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div> -->
	<!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
