<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: SHEIN -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/shein"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/358984879_578505781147273_2976606450181542982_n.jpg"
		  alt="SHEIN"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>SHEIN</h3>

		<p>
		  Up to 30% Off Code<br />
		  6.4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Bloomingdale's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/bloomingdales"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/bloomingdales-icon.jpg"
		  alt="Bloomingdale's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Bloomingdale's</h3>

		<p>
		  Up to 15% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Athleta -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/athleta.gap"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/368652104_10160548224850831_2281599568022771086_n.jpg"
		  alt="Athleta"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Athleta</h3>

		<p>
		  30% Off Code<br />
		  2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: MyBag -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/mybag"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/mybag_icon.png"
		  alt="MyBag"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>MyBag</h3>

		<p>
		  33% Off Code<br />
		  Up to 5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Saks Fifth Avenue -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/saksfifthavenue"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Saks_Fifth_Avenue_idwShj5Fy5_0.jpeg"
		  alt="Saks Fifth Avenue"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Saks Fifth Avenue</h3>

		<p>
		  10% Off Code<br />
		  3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Princess Polly -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/us.princesspolly"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://files.helpdocs.io/j65hs040o2/logo.png?t=1597174862345"
		  alt="Princess Polly"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Princess Polly</h3>

		<p>
		  30% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Madewell -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/madewell"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/madewell.com_icon.png"
		  alt="Madewell"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Madewell</h3>

		<p>
		  50% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Anne Klein -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/anneklein"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/anneklein_icon.png"
		  alt="Anne Klein"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Anne Klein</h3>

		<p>
		  15% Off Code<br />
		  4.3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Bebe -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/bebe"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/bebe.jpg"
		  alt="Bebe"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Bebe</h3>

		<p>
		  Up to 30% Off Code <br />
		  11% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>
  <!-- /.section__slider -->