<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: Walmart -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/Walmart"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Walmart-Icon-030524.png"
		  alt="Walmart"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Walmart</h3>

		<p>
		  Up to 3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Disney Store -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/disneystore"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/idyUVgmXic_logos.jpeg"
		  alt="Disney Store"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Disney Store</h3>

		<p>
		  25% Off Code<br />
		  2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: LEGO -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/lego"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/lego.png"
		  alt="LEGO"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>LEGO</h3>

		<p>
		  11% Off Code<br />
		  Up to 3.2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Carter's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/carters"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/carters.png"
		  alt="Carter's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Carter's</h3>

		<p>
		  Up to 50% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: The Children's Place -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/childrensplace"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/tcp-icon.jpg"
		  alt="The Children's Place"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>The Children's Place</h3>

		<p>
		  50% Off Code<br />
		  1.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Old Navy -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/oldnavy.gap"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/oldnavy-icon.png"
		  alt="Old Navy"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Old Navy</h3>

		<p>
		  25% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Gap -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/gap"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/gap_favicon.jpg"
		  alt="Gap"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Gap</h3>

		<p>
		  30% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: American Girl -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/americangirl"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/American_Girl-icon.png"
		  alt="American Girl"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>American Girl</h3>

		<p>
		  20% Off Code<br />
		  0.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Justice -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/shopjustice"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/shopjustice-icon.png"
		  alt="Justice"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Justice</h3>

		<p>
		  15% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Janie And Jack -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/janieandjack"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/janie-and-jack-icon.png"
		  alt="Janie And Jack"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Janie And Jack</h3>

		<p>
		  15% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Little Me -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/littleme"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/littleme.png"
		  alt="Little Me"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Little Me</h3>

		<p>
		  20% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: SweetHoney Clothing -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/sweethoneyclothing"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/sweethoneyclothing.png"
		  alt="SweetHoney Clothing"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Sweet Honey Clothing</h3>

		<p>
		  $11 Off Code</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>
  <!-- /.section__slider -->