<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-06">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li class="current">
					<a href="./partials/categories/gifts/page-him-01.html">
						<img src="./assets/images/temp/png/avatar-10.png" alt="" />

						<span>Him</span>
					</a>
				</li>
				<li>
					<a href="./partials/categories/gifts/page-her-01.html">
						<img src="./assets/images/temp/png/avatar-11.png" alt="" />

						<span>Her</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-teens-01.html">
						<img src="./assets/images/temp/png/avatar-12.png" alt="" />

						<span>Teens</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-kids-01.html">
						<img src="./assets/images/temp/png/avatar-13.png" alt="" />

						<span>Kids</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-toddlers-01.html">
						<img src="./assets/images/temp/png/avatar-02.png" alt="" />

						<span>Toddlers</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-babies-01.html">
						<img src="./assets/images/temp/png/avatar-01.png" alt="" />

						<span>Babies</span>
					</a>
				</li>
			</ul>

			
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB00GHX5HGG%3Fref%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26ref_%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26social_share%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71yDnrvlKVL._AC_SX679_.jpg" alt="" />
					</a>

					<span>-67%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB00GHX5HGG%3Fref%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26ref_%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26social_share%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">J.A. Henckels 15-Piece Premium Quality Knife Set</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$345</small>

								<strong>$112.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB00GHX5HGG%3Fref%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26ref_%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26social_share%3Dcm_sw_r_cp_ud_dp_B3JM1WYNSM4MMSE1A4Y1%26_encoding%3DUTF8%26psc%3D1%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000AR2OYI%3Fref%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26ref_%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26social_share%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=283yas9sh" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41spJrGvLmL._AC_SX679_.jpg" alt="" />
					</a>

					<span>-8%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000AR2OYI%3Fref%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26ref_%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26social_share%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=283yas9sh" target="_blank">Snow Peak Titanium French Press - Ultralight Coffee Maker</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$64.95</small>

								<strong>$60</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000AR2OYI%3Fref%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26ref_%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26social_share%3Dcm_sw_r_cp_ud_dp_FJ93D86B5X3Z7N567DPV%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&version=283yas9sh" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0D9WTFDBF%3Fref%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26ref_%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26social_share%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=iasg7as" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51nCNxSwfYL._AC_SX679_.jpg" alt="" />
					</a>

					<span>-26%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0D9WTFDBF%3Fref%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26ref_%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26social_share%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=iasg7as" target="_blank">Oura Ring Generation 4</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$349</small>

								<strong>$259</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0D9WTFDBF%3Fref%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26ref_%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26social_share%3Dcm_sw_r_cp_ud_dp_GKJDKG3G3W27MJCS0CBP%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension&version=iasg7as" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.bhphotovideo.com%2Fc%2Fproduct%2F1840620-REG%2Fhoverair_sp03h012_x1_self_flying_camera_drone.html&ads=true&source=extension" target="_blank">
						<img src="https://static.bhphoto.com/images/images500x500/1722426091_1840620.jpg" alt="" />
					</a>

					<span>-15%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.bhphotovideo.com%2Fc%2Fproduct%2F1840620-REG%2Fhoverair_sp03h012_x1_self_flying_camera_drone.html&ads=true&source=extension" target="_blank">HoverAir X1 drone</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$349.99</small>

								<strong>$299</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.bhphotovideo.com%2Fc%2Fproduct%2F1840620-REG%2Fhoverair_sp03h012_x1_self_flying_camera_drone.html&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/bhphotovideo-icon.jpeg" alt="" />

								<p>Best Price from <br /> B&H Photo Video</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>0.5% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGHRFYMM%3Fref%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26ref_%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26social_share%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71SKOyjXoUL._AC_SX522_.jpg" alt="" />
					</a>

					<span>-56%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGHRFYMM%3Fref%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26ref_%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26social_share%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Apple Watch Ultra 2</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$769</small>

								<strong>$339.95</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 48 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0DGHRFYMM%3Fref%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26ref_%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26social_share%3Dcm_sw_r_cp_ud_dp_68TYE3HBGDGNF1B814P9%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CXKYTQS2%3Fref%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26ref_%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26social_share%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61XtQfb-sRL._AC_SX466_.jpg" alt="" />
					</a>

					<span>-20%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CXKYTQS2%3Fref%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26ref_%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26social_share%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">Microsoft Surface Laptop (seventh-gen)</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$999.99</small>

								<strong>$799.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 13 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CXKYTQS2%3Fref%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26ref_%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26social_share%3Dcm_sw_r_cp_ud_dp_GR0K36E568H1QQTWCGM1%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/gifts/page-him-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div>  
	
	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/gifts/page-him-02.html" class="btn-link js__action">
			<span>See More</span>
			
		</a>
		<span class="btn-link js__action">See More</span>
	</div>   -->
	<!-- /.grid-flex__actions -->
	
</div><!-- /.grid-flex -->
