<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: Carter's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/carters"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/carters.png"
		  alt="Carter's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Carter's</h3>

		<p>
		  Up to 50% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: buybuy BABY -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/buybuybaby"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/buybuy_icon.png"
		  alt="buybuy BABY"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>buybuy BABY</h3>

		<p>
		  20% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: The Honest Company -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/honest"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/honest.png"
		  alt="The Honest Company"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>The Honest Company</h3>

		<p>
		  20% Off Code<br />
		  Up to 4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Skip Hop -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/skiphop"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/skiphop_favicon_new.png"
		  alt="Skip Hop"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Skip Hop</h3>

		<p>
		  30% Off Code<br />
		  1.2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Kids2 -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/kids2"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/kids2_icon.jpeg"
		  alt="Kids2"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Kids2</h3>

		<p>
		  
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Magic Beans -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/mbeans"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://cdn.shopify.com/s/files/1/0679/2652/4211/files/magic_beans_transparent.png?v=1690292443"
		  alt="Magic Beans"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Magic Beans</h3>

		<p>
		  10% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Munchkin -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/munchkin"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/munchkin.png"
		  alt="Munchkin"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Munchkin</h3>

		<p>
		  25% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Walmart -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/Walmart"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Walmart-Icon-030524.png"
		  alt="Walmart"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Walmart</h3>

		<p>
		  Up to 3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Gerber Childrenswear -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/gerberchildrenswear"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/gerberchildrenswear_favicon.png"
		  alt="Gerber Childrenswear"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Gerber Childrenswear</h3>

		<p>
		  20% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>