<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-06">
	<div class="grid-flex__categories js__categories">
		<nav class="nav-categories">
			<ul>
				<li>
					<a href="./partials/categories/gifts/page-him-01.html">
						<img src="./assets/images/temp/png/avatar-10.png" alt="" />

						<span>Him</span>
					</a>
				</li>

				<li class="current">
					<a href="./partials/categories/gifts/page-her-01.html">
						<img src="./assets/images/temp/png/avatar-11.png" alt="" />

						<span>Her</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-teens-01.html">
						<img src="./assets/images/temp/png/avatar-12.png" alt="" />

						<span>Teens</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-kids-01.html">
						<img src="./assets/images/temp/png/avatar-13.png" alt="" />

						<span>Kids</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-toddlers-01.html">
						<img src="./assets/images/temp/png/avatar-02.png" alt="" />

						<span>Toddlers</span>
					</a>
				</li>

				<li>
					<a href="./partials/categories/gifts/page-babies-01.html">
						<img src="./assets/images/temp/png/avatar-01.png" alt="" />

						<span>Babies</span>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-categories -->
	</div><!-- /.grid-flex__categories -->

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08YFJR71D%3Fref%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26ref_%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26social_share%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71vhlR1JizL._AC_SL1500_.jpg" alt="" />
					</a>

					<!--span>0%</span-->
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08YFJR71D%3Fref%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26ref_%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26social_share%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">Kodak Step Wireless Mini Photo Printer - Pink</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<!--small>$67</small-->

								<strong>$67</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB08YFJR71D%3Fref%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26ref_%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26social_share%3Dcm_sw_r_cp_ud_dp_7W3E7770JEZSV7J5V7WN%26_encoding%3DUTF8%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB004RH0KC0%3Fref%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26ref_%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26social_share%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://d8.cnnx.io/image/obj/5854155317;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez5LyNQKNM-nZhTbmC3Zz_p1NspRs1584=" alt="" />
					</a>

					<span>-52%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB004RH0KC0%3Fref%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26ref_%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26social_share%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Enamelware 4 Piece Canister Set — Blue Marble</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$93.99</small>

								<strong>$45</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 4 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB004RH0KC0%3Fref%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26ref_%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26social_share%3Dcm_sw_r_cp_ud_dp_SR6JT39543QE9K8KH9VC%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/product/ana-luisa-frida-pearl-huggie-hoops-14k-gold-plated-silver-rhodium-plated-drop-hoop-earrings-with-freshwater-pearls-2-in-1-unique-design-hypoallergenic-water-resistant-tarnish-free/7df1cc0a3e3354f0b48c89267b6bca2bf932d8e3" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61R43kKk-KL._AC_SL1500_.jpg" alt="" />
					</a>

					<!--span>0%</span-->
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/ana-luisa-frida-pearl-huggie-hoops-14k-gold-plated-silver-rhodium-plated-drop-hoop-earrings-with-freshwater-pearls-2-in-1-unique-design-hypoallergenic-water-resistant-tarnish-free/7df1cc0a3e3354f0b48c89267b6bca2bf932d8e3" target="_blank">Ana Luisa Frida Pearl Huggies</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<!--small>$55</small-->

								<strong>$55</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/ana-luisa-frida-pearl-huggie-hoops-14k-gold-plated-silver-rhodium-plated-drop-hoop-earrings-with-freshwater-pearls-2-in-1-unique-design-hypoallergenic-water-resistant-tarnish-free/7df1cc0a3e3354f0b48c89267b6bca2bf932d8e3" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product " data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB06ZZY859Z%3Fref%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26ref_%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26social_share%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/714MlwP3sHL._AC_SL1500_.jpg" alt="" />
					</a>

					<span>-23%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB06ZZY859Z%3Fref%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26ref_%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26social_share%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">BambooWorx Japanese Tea Set, Matcha Whisk</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$12.99</small>

								<strong>$9.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 6 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB06ZZY859Z%3Fref%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26ref_%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26social_share%3Dcm_sw_r_cp_ud_dp_HPRQF5X7ZZ4X61A7HHS0%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07DTMZL56%3Fref%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26ref_%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26social_share%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://d10.cnnx.io/image/obj/9269823499;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez4by7EYsblwcFZbmCZlaDmqtQ4eUP5bw=" alt="" />
					</a>

					<span>-39%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07DTMZL56%3Fref%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26ref_%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26social_share%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Fellow Corvo EKG Electric Kettle</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$165</small>

								<strong>$99.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 12 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07DTMZL56%3Fref%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26ref_%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26social_share%3Dcm_sw_r_cp_ud_dp_V240F29NMTF37QFR2RJR%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C415KNH8%3Fref%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26ref_%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26social_share%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/91xkhfcNNvL._AC_SL1500_.jpg" alt="" />
					</a>

					<span>-57%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C415KNH8%3Fref%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26ref_%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26social_share%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">iRobot Roomba Combo i5</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$349.99</small>

								<strong>$150</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 17 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0C415KNH8%3Fref%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26ref_%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26social_share%3Dcm_sw_r_cp_ud_dp_V436EMBXTK27M3TXEGZF%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/gifts/page-her-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div> --> <!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
