</main><!-- /.main -->

<footer class="footer">
	<div class="shell shell--footer">
		<div class="footer__inner">
			<div class="footer__head">
				<div class="footer__head__copy">
					<div class="footer__head__copy-logo">
						<a href="#">
							<img src="/assets/images/temp/svg/logo.svg" alt="" />
						</a>
					</div><!-- /.footer__head__copy-logo -->

					<div class="footer__head__copy-entry">
						<p>&copy; Price Technologies Inc. <br /> 10000 Santa Monica Blvd Los Angeles, CA, 90067</p>
					</div><!-- /.footer__head__copy-entry -->
				</div><!-- /.footer__head__copy -->

				<div class="footer__head__actions">
					<nav class="nav-actions">
						<ul>
							<li>
								<a href="#">
									<img src="/assets/images/temp/png/footer-link-01.png" alt="" />
								</a>
							</li>

							<li>
								<a href="#">
									<img src="/assets/images/temp/png/footer-link-02.png" alt="" />
								</a>
							</li>
						</ul>
					</nav><!-- /.nav-actions -->
				</div><!-- /.footer__head__actions -->
			</div><!-- /.footer__head -->

			<div class="footer__bar">
				<div class="footer__bar-nav">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="#">Sign Up for Free</a>
							</li>

							<li>
								<a href="#">Terms of Use</a>
							</li>

							<li>
								<a href="#">Privacy Policy</a>
							</li>
						</ul>
					</nav><!-- /.nav nav-footer -->
				</div><!-- /.footer__bar-nav -->

				<div class="footer__bar-socials">
					<nav class="nav-socials">
						<ul>
							<li>
								<a href="#">
									<i class="fa-brands fa-tiktok"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fa-brands fa-facebook-f"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fa-brands fa-pinterest-p"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fa-brands fa-twitter"></i>
								</a>
							</li>
						</ul>
					</nav><!-- /.nav-socials -->
				</div><!-- /.footer__bar-socials -->
			</div><!-- /.footer__bar -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer>
