<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-01">
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WLPT238%3Fref%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26ref_%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26social_share%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811URMr-aWL._AC_SL1500_.jpg&productName=OuMuaMua%20Winter%20Christmas%20Hanging%20Snowflake%20Decorations%2C%2012PCS%20Snowflakes%20Garland%20%26%2012PCS%203D%20Glittery%20Large%20White%20Snowflake%20for%20Christmas%20Winter%20Wonderland%20Holiday%20New%20Year%20Party%20Home%20Decorations&salePrice=9.39" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81145eV+eYL._AC_SL1500_.jpg" alt="" />
					</a>

					<span>-41%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WLPT238%3Fref%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26ref_%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26social_share%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811URMr-aWL._AC_SL1500_.jpg&productName=OuMuaMua%20Winter%20Christmas%20Hanging%20Snowflake%20Decorations%2C%2012PCS%20Snowflakes%20Garland%20%26%2012PCS%203D%20Glittery%20Large%20White%20Snowflake%20for%20Christmas%20Winter%20Wonderland%20Holiday%20New%20Year%20Party%20Home%20Decorations&salePrice=9.39" target="_blank">Hanging Winter Snowflakes</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$15.99</small>

								<strong>$9.39</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 7 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WLPT238%3Fref%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26ref_%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26social_share%3Dcm_sw_r_cp_ud_dp_PW45ZWA39XCJ18YV1RGA%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811URMr-aWL._AC_SL1500_.jpg&productName=OuMuaMua%20Winter%20Christmas%20Hanging%20Snowflake%20Decorations%2C%2012PCS%20Snowflakes%20Garland%20%26%2012PCS%203D%20Glittery%20Large%20White%20Snowflake%20for%20Christmas%20Winter%20Wonderland%20Holiday%20New%20Year%20Party%20Home%20Decorations&salePrice=9.39" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WG18RLT%3Fref%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26ref_%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26social_share%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71z-K3fmPIL.jpg" alt="" />
					</a>

					<span>-37%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WG18RLT%3Fref%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26ref_%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26social_share%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Battery-Operated Fairy Lights</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$18.99</small>

								<strong>$11.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 7 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB07WG18RLT%3Fref%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26ref_%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26social_share%3Dcm_sw_r_cp_ud_dp_TN0RZ4Y3CX94MCWJZJMX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.walmart.com%2Fip%2FPEIDUO-Set-of-2-2FT-24LT-Birch-Tree-Battery-Powered-Warm-White-LED-for-Home-Decoration-Wedding%2F856419977&ads=true&source=extension" target="_blank">
						<img src="https://i5.walmartimages.com/asr/52ebfff8-4e27-4204-8ea2-28343595eccb.13127c5974801549eadb320ea8ab44f9.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff" alt="" />
					</a>

					<span>-40%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.walmart.com%2Fip%2FPEIDUO-Set-of-2-2FT-24LT-Birch-Tree-Battery-Powered-Warm-White-LED-for-Home-Decoration-Wedding%2F856419977&ads=true&source=extension" target="_blank">Pre-Lit Birch Trees</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$41.55</small>

								<strong>$24.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 5 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.walmart.com%2Fip%2FPEIDUO-Set-of-2-2FT-24LT-Birch-Tree-Battery-Powered-Warm-White-LED-for-Home-Decoration-Wedding%2F856419977&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09DTXB4W7%3Fref%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26ref_%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26social_share%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
						<img src="https://d8.cnnx.io/image/obj/17986743602;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez57yHS79e4HB5armCT0omEOGdoBeqDAM=" alt="" />
					</a>

					<span>-23%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09DTXB4W7%3Fref%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26ref_%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26social_share%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">Pinecone Garland with Lights</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$39.0</small>

								<strong>$29.98</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 5 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB09DTXB4W7%3Fref%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26ref_%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26social_share%3Dcm_sw_r_cp_ud_dp_DC0HPDJE8AAK18RMMZ1D%26starsLeft%3D1%26skipTwisterOG%3D1%26th%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Amazon_icon.png" alt="" />

								<p>Best Price from <br /> Amazon</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0B4RLL37W%3Fref%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26ref_%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26social_share%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81plUNPuOAL._AC_SL1500_.jpg&productName=18pcs%20Crystal%20Christmas%20Ornaments%20for%20Tree%20Decorations-Hanging%20Acrylic%20Snowflake%20Icicle%20Ornaments%20with%20Drop%20Pendants%20for%20Winter%20Wonderland%20Chandelier%20Crystals%20Decorations%20Supplies&salePrice=12.99&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81plUNPuOAL._AC_SX679_.jpg" alt="" />
					</a>

					<span>-31%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0B4RLL37W%3Fref%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26ref_%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26social_share%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81plUNPuOAL._AC_SL1500_.jpg&productName=18pcs%20Crystal%20Christmas%20Ornaments%20for%20Tree%20Decorations-Hanging%20Acrylic%20Snowflake%20Icicle%20Ornaments%20with%20Drop%20Pendants%20for%20Winter%20Wonderland%20Chandelier%20Crystals%20Decorations%20Supplies&salePrice=12.99&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">Crystal Ornaments</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$12.99</small>

								<strong>$8.99</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 7 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0B4RLL37W%3Fref%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26ref_%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26social_share%3Dcm_sw_r_cp_ud_dp_T82T5NPTK6Z9JWNAN6F4%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81plUNPuOAL._AC_SL1500_.jpg&productName=18pcs%20Crystal%20Christmas%20Ornaments%20for%20Tree%20Decorations-Hanging%20Acrylic%20Snowflake%20Icicle%20Ornaments%20with%20Drop%20Pendants%20for%20Winter%20Wonderland%20Chandelier%20Crystals%20Decorations%20Supplies&salePrice=12.99&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/Walmart-Icon-030524.png" alt="" />

								<p>Best Price from <br /> Walmart</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 3% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0043R48Z4%3Fref%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26ref_%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26social_share%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811UQpcWxpL._AC_SL1500_.jpg&productName=NEST%20New%20York%20Scented%20Classic%20Candle%2C%20Holiday%20-%208.1%20oz%20-%20Up%20to%2060-Hour%20Burn%20Time%20-%20Reusable%20Glass%20Vessel&salePrice=50&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
						<img src="https://d9.cnnx.io/image/obj/2454513088;sq=400;p=0;t=ooPwmM0WTWKUTwxbQ1E9NwkyBrU6PqlYuy1yRPHaZFuHZ-Ez57yoSYFh7gpnYLmC3O5UVlxRC5kS44Q=" alt="" />
					</a>

					<span>-16%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0043R48Z4%3Fref%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26ref_%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26social_share%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811UQpcWxpL._AC_SL1500_.jpg&productName=NEST%20New%20York%20Scented%20Classic%20Candle%2C%20Holiday%20-%208.1%20oz%20-%20Up%20to%2060-Hour%20Burn%20Time%20-%20Reusable%20Glass%20Vessel&salePrice=50&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">NEST Fragrances Holiday Scented Classic</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$50.0</small>

								<strong>$41.9</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0043R48Z4%3Fref%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26ref_%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26social_share%3Dcm_sw_r_cp_ud_dp_FV0VXCGPXRFASK9N9TVX%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension&imageUrl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F811UQpcWxpL._AC_SL1500_.jpg&productName=NEST%20New%20York%20Scented%20Classic%20Candle%2C%20Holiday%20-%208.1%20oz%20-%20Up%20to%2060-Hour%20Burn%20Time%20-%20Reusable%20Glass%20Vessel&salePrice=50&device_id=6ea6123a8479b756f5e99c2abf74f856e49824a6d798df5a2152fb5b31e552c" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

	</div><!-- /.grid-flex__inner -->

	<!-- NEXT PAGE -->
	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/decor/page-02.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div><!-- /.grid-flex__actions -->
</div><!-- /.grid-flex -->
