<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-01">
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F3pc-incandescent-tinsel-gift-box-christmas-novelty-sculpture-light-clear-wondershop-8482%2F-%2FA-89662022&ads=true&source=extension" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_82ac712f-282e-4831-bad1-46e17cbf9cbd?wid=1000&hei=1000" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F3pc-incandescent-tinsel-gift-box-christmas-novelty-sculpture-light-clear-wondershop-8482%2F-%2FA-89662022&ads=true&source=extension" target="_blank">Incandescent Tinsel Gift Box</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$35.0</small>

								<strong>$17.5</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F3pc-incandescent-tinsel-gift-box-christmas-novelty-sculpture-light-clear-wondershop-8482%2F-%2FA-89662022&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F28-34-mixed-greenery-and-cedar-with-pinecones-and-red-berries-artificial-christmas-wreath-green-wondershop-8482-unlit-indoor-outdoor-use%2F-%2FA-87253756&ads=true&source=extension" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_5f807960-5a38-4e5c-957a-ef5feab2111a?wid=1000&hei=1000" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F28-34-mixed-greenery-and-cedar-with-pinecones-and-red-berries-artificial-christmas-wreath-green-wondershop-8482-unlit-indoor-outdoor-use%2F-%2FA-87253756&ads=true&source=extension" target="_blank">Cedar with Pinecones and Red Berries Artificial Christmas Wreath</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$30.0</small>

								<strong>$15.0</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F28-34-mixed-greenery-and-cedar-with-pinecones-and-red-berries-artificial-christmas-wreath-green-wondershop-8482-unlit-indoor-outdoor-use%2F-%2FA-87253756&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F23-34-incandescent-tinsel-golden-retriever-christmas-novelty-sculpture-light-wondershop-8482%2F-%2FA-89662071&ads=true&source=extension" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_5701f47d-acb9-49aa-a234-df75d743b6fa?wid=1000&hei=1000" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F23-34-incandescent-tinsel-golden-retriever-christmas-novelty-sculpture-light-wondershop-8482%2F-%2FA-89662071&ads=true&source=extension" target="_blank">Tinsel Golden Retriever Christmas Sculpture</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$50.0</small>

								<strong>$25.0</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F23-34-incandescent-tinsel-golden-retriever-christmas-novelty-sculpture-light-wondershop-8482%2F-%2FA-89662071&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product" data-size="l">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F17-5-34-incandescent-tinsel-cat-christmas-novelty-sculpture-light-clear-ul-listed-indoor-outdoor-wondershop-8482%2F-%2FA-87327643&ads=true&source=extension" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_35499a21-0ebf-43e7-a15a-d948cef49f3c?wid=1000&hei=1000" alt="" />
					</a>

					<span>-50%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F17-5-34-incandescent-tinsel-cat-christmas-novelty-sculpture-light-clear-ul-listed-indoor-outdoor-wondershop-8482%2F-%2FA-87327643&ads=true&source=extension" target="_blank">Orange Tinsel Cat Christmas Sculpture</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$50.0</small>

								<strong>$25.0</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 2 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.target.com%2Fp%2F17-5-34-incandescent-tinsel-cat-christmas-novelty-sculpture-light-clear-ul-listed-indoor-outdoor-wondershop-8482%2F-%2FA-87327643&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/lit-wood-house-shadow-box-christmas-figurine-wondershop-/624698c8aff83ca3b0008c28feb174eb96b01f20" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_7a412863-cb63-43ba-b628-f6cfb1978d78?wid=1000&hei=1000" alt="" />
					</a>

					<span>0%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/lit-wood-house-shadow-box-christmas-figurine-wondershop-/624698c8aff83ca3b0008c28feb174eb96b01f20" target="_blank">Lit Wood House Shadow Box</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$15.0</small>

								<strong>$15.0</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 1 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/lit-wood-house-shadow-box-christmas-figurine-wondershop-/624698c8aff83ca3b0008c28feb174eb96b01f20" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/fabric-snowman-figurine-holding-christmas-tree-wondershop-white/825869cb5bf3ecc77f2ecd8a5d49912f278c3c9e" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_7697017d-7708-43ff-b6d0-6249dbc532f3?wid=1000&hei=1000" alt="" />
					</a>

					<span>0%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/fabric-snowman-figurine-holding-christmas-tree-wondershop-white/825869cb5bf3ecc77f2ecd8a5d49912f278c3c9e" target="_blank">Fabric Snowman Figurine</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$15.0</small>

								<strong>$15.0</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 1 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/fabric-snowman-figurine-holding-christmas-tree-wondershop-white/825869cb5bf3ecc77f2ecd8a5d49912f278c3c9e" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	
	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/decor/page-04.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div>
	
</div><!-- /.grid-flex -->
