<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-01">
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/juvale-christmas-tree-coir-welcome-door-mat-front-doormat-non-slip-rugs-for-indoor-outdoor-entrance-holiday-xmas-decorations-17-x-30-in/19d5ff97c6c46d08af2eb3e87e7c26d3d1ef4966" target="_blank">
						<img src="https://target.scene7.com/is/image/Target/GUEST_65298b1b-a56d-4d09-9e27-c48733ba21d0?wid=1200&hei=1200&qlt=80&fmt=webp" alt="" />
					</a>

					<span>-51%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/juvale-christmas-tree-coir-welcome-door-mat-front-doormat-non-slip-rugs-for-indoor-outdoor-entrance-holiday-xmas-decorations-17-x-30-in/19d5ff97c6c46d08af2eb3e87e7c26d3d1ef4966" target="_blank">Juvale Christmas Tree Coir Welcome Door Mat</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$24.99</small>

								<strong>$12.17</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 3 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/juvale-christmas-tree-coir-welcome-door-mat-front-doormat-non-slip-rugs-for-indoor-outdoor-entrance-holiday-xmas-decorations-17-x-30-in/19d5ff97c6c46d08af2eb3e87e7c26d3d1ef4966" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> Target</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p><br /> 25% Off Code</p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	
	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/decor/page-04.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div> -->
	
</div><!-- /.grid-flex -->
