<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: Target -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/target"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg"
		  alt="Target"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Target</h3>

		<p>
		  25% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Walmart -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/walmart"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Walmart-Icon-030524.png"
		  alt="Walmart"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Walmart</h3>

		<p>
		  Up to 3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: buybuy BABY -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/buybuybaby"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/buybuybaby_icon.png"
		  alt="buybuy BABY"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>buybuy BABY</h3>

		<p>
		  20% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Carter's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/carters"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/carters.png"
		  alt="Carter's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Carter's</h3>

		<p>
		  Up to 50% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Kohl's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/kohls"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Kohls_-_Shopping__Discounts-Icon.png"
		  alt="Kohl's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Kohl's</h3>

		<p>
		  20% Off Code<br />
		  4.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Etsy -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/etsy"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Etsy__Home_Style__Gifts-Icon.png"
		  alt="Etsy"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Etsy</h3>

		<p>
		  55% Off Code<br />
		  3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Fat Brain Toys -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/fatbraintoys"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/fatbraintoys.png"
		  alt="Fat Brain Toys"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Fat Brain Toys</h3>

		<p>
		  20% Off Code<br />
		  3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Melissa and Doug -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/melissaanddoug"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/melissaanddoug.png"
		  alt="Melissa and Doug"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Melissa and Doug</h3>

		<p>
		  25% Off Code<br />
		  1.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Hape -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/hape"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/hape.png"
		  alt="Hape"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Hape</h3>

		<p>
		  7.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Maisonette -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/maisonette"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/maisonette1_icon.png"
		  alt="Maisonette"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Maisonette</h3>

		<p>
		  Up to 50% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Nordstrom -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/nordstrom"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/nordstrom_favicon.png"
		  alt="Nordstrom"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Nordstrom</h3>

		<p>
		  20% Off Code<br />
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Skip Hop -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/skiphop"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/skiphop_favicon_new.png"
		  alt="Skip Hop"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Skip Hop</h3>

		<p>
		  30% Off Code<br />
		  1.2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>
  <!-- /.section__slider -->