<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-02">

	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/product/20-questions-the-original-game-of-people-places-and-things-from-university-games-for-2-to-6-players-ages-12-and-up/cbdcb6206d5b5ca3414dd573e400e5c9649bfbfb" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61mPeDyQewL._AC_SX569_.jpg" alt="" />
					</a>

					<span>-54%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/product/20-questions-the-original-game-of-people-places-and-things-from-university-games-for-2-to-6-players-ages-12-and-up/cbdcb6206d5b5ca3414dd573e400e5c9649bfbfb" target="_blank">20 Questions</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$21.89</small>

								<strong>$9.97</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 4 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/product/20-questions-the-original-game-of-people-places-and-things-from-university-games-for-2-to-6-players-ages-12-and-up/cbdcb6206d5b5ca3414dd573e400e5c9649bfbfb" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/ebay-logos-030524.jpg" alt="" />

								<p>Best Price from <br /> eBay</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>Up to 2% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->
	</div><!-- /.grid-flex__inner -->

	
	<!-- <div class="grid-flex__actions js__actions">
		<a href="./partials/categories/toys/page-14-years-03.html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div> -->
	
</div><!-- /.grid-flex -->
