<div class="section__slider js__slider">
	<div class="slider-brands js-slider-brands">
		<div class="slider-brands__slides js__slides">
	<!-- Store: Walmart -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/walmart"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Walmart-Icon-030524.png"
		  alt="Walmart"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Walmart</h3>

		<p>
		  Up to 3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Nike -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/nike"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/nike-icon-030524.jpg"
		  alt="Nike"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Nike</h3>

		<p>
		  25% Off Code<br />
		  17% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Kohl's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/kohls"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Kohls_-_Shopping__Discounts-Icon.png"
		  alt="Kohl's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Kohl's</h3>

		<p>
		  20% Off Code<br />
		  4.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Etsy -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/etsy"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/Etsy__Home_Style__Gifts-Icon.png"
		  alt="Etsy"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Etsy</h3>

		<p>
		  55% Off Code<br />
		  3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Fat Brain Toys -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/fatbraintoys"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/fatbraintoys.png"
		  alt="Fat Brain Toys"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Fat Brain Toys</h3>

		<p>
		  20% Off Code<br />
		  3% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Funko -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/funko"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/funko_icon.png"
		  alt="Funko"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Funko</h3>

		<p>
		  30% Off Code<br />
		  1% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: AliExpress -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/aliexpress"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/425691376_776087094551028_8522456368104030631_n.jpg"
		  alt="AliExpress"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>AliExpress</h3>

		<p>
		  Up to 75% Off Code<br />
		  15% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Temu -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/temu"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/temu_icon.png"
		  alt="Temu"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Temu</h3>

		<p>
		  40% Off Code<br />
		  25% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: LEGO -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/lego"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/lego.png"
		  alt="LEGO"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>LEGO</h3>

		<p>
		  11% Off Code<br />
		  Up to 3.2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Carter's -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/carters"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/carters.png"
		  alt="Carter's"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Carter's</h3>

		<p>
		  Up to 50% Off Code<br />
		  4% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Five Below -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/fivebelow"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/fivebelow_icon.jpeg"
		  alt="Five Below"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Five Below</h3>

		<p>
		  50% Off Code<br />
		  1.5% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Wish -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/wish"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/wish_favicon.jpg"
		  alt="Wish"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Wish</h3>

		<p>
		  15% Off Code<br />
		  2% Cash Back
		</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->

	<!-- Store: Target -->
	<div class="slider-brands__slide js__slide">
	  <a href="https://price.com/coupons/target"></a>

	  <div class="slider-brands__slide-image">
		<img
		  src="https://d229ghlvos009z.cloudfront.net/favicon/target-logos-030524.jpg"
		  alt="Target"
		/>
	  </div>
	  <!-- /.slider-brands__slide-image -->

	  <div class="slider-brands__slide-entry">
		<h3>Target</h3>

		<p>
		  25% Off Code</p>
	  </div>
	  <!-- /.slider-brands__slide-entry -->
	</div>
	<!-- /.slider-brands__slide -->
  </div>
</div>
</div>
  <!-- /.section__slider -->