<div class="grid-flex grid-flex--products js-grid-isotope" id="ajax-02">
	<div class="grid-flex__inner js__items">
		<div class="grid-flex__col-sizer"></div><!-- /.grid-flex__col-sizer -->

		
		<div class="grid-flex__col js__item">
			<article class="article-product article-product--cover-image" data-size="m">
				<div class="article-product__image">
					<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY2R877W%3Fref%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26ref_%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26social_share%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81gmKYHmi-L._AC_SL1500_.jpg" alt="" />
					</a>

					<span>25%</span>
				</div><!-- /.article-product__image -->

				<div class="article-product__body">
					<div class="article-product__body-title">
						<h6>
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY2R877W%3Fref%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26ref_%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26social_share%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">Plant-A-Pet: Kitty</a>
						</h6>
					</div><!-- /.article-product__body-title -->

					<div class="article-product__body__meta">
						<div class="article-product__body__meta-price">
							<p>
								<small>$4.99</small>

								<strong>$3.74</strong>
							</p>
						</div><!-- /.article-product__body__meta-price -->

						<div class="article-product__body__meta-views">
							<p>Compared 5 Stores</p>
						</div><!-- /.article-product__body__meta-views -->
					</div><!-- /.article-product__body__meta -->

					<div class="article-product__body__desc">
						<div class="article-product__body__desc-author">
							<a href="https://price.com/v2/pdp?urls=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CY2R877W%3Fref%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26ref_%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26social_share%3Dcm_sw_r_cp_ud_dp_6137VSC59RWX3W553TR8%26starsLeft%3D1%26skipTwisterOG%3D1&ads=true&source=extension" target="_blank">
								<img src="https://d229ghlvos009z.cloudfront.net/favicon/michaels_icon.png" alt="" />

								<p>Best Price from <br /> Michaels</p>
							</a>
						</div><!-- /.article-product__body__desc-author -->

						<div class="article-product__body__desc-promo">
							<p>1.0% Cash Back<br /> </p>
						</div><!-- /.article-product__body__desc-promo -->
					</div><!-- /.article-product__body__desc -->
				</div><!-- /.article-product__body -->
			</article><!-- /.article-product -->
		</div><!-- /.grid-flex__col -->

	</div><!-- /.grid-flex__inner -->

	<!--
	<div class="grid-flex__actions js__actions">
		<a href="./partials/categories/toys/page-5-7-years-[PAGE].html" class="btn-link js__action">
			<span>See More</span>
		</a>
	</div>
	-->
</div><!-- /.grid-flex -->
